body {
    font-family: Arial, sans-serif;
}

.font-switchable-text {
    font-family: Arial, sans-serif;
}

/* Add your custom font here */
.font-switched-on .font-switchable-text {
    font-family: 'Your Custom Font', Arial, sans-serif;
}
