@font-face {
  font-family: "sitelen seli kiwen";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/lipu-linku/nasin-sitelen/main/sitelenselikiwenasuki.ttf");
}



div.section {
  border-style: dotted;
  border-width: 2px;
  padding: 2em;
}

.content {
  text-align: center;
  font-size: 40px;
  margin-block: 1rem;
  border-radius: 0.25rem;
}

.content#edit {
  outline: 1px solid black;
  padding: 1rem;
  font-size: 40px;
  margin-block: 1rem;
  border-radius: 0.25rem;

  &::before {
    content: "Write: ";
    color: grey;
  }
}

label:has(input[type="checkbox"]:checked) ~ .content {
  font-family: "sitelen seli kiwen";
}

label:has(input[type="checkbox"]:checked) ~ .content#edit {
  font-family: "sitelen seli kiwen";

  &::before {
    content: "o sitelen: ";
  }
}
